@page "{SearchString?}"
@model IndexModelLivre
@{
    ViewData["Title"] = "Home page";
}

<h1>Index</h1>

<p>
    <a asp-page="Livres/Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="LivreCategories" asp-items="Model.Categories">
            <option value="">All</option>
        </select>
        Nom: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div class="text-right">
    <form action="Rechercher" id="rechform" method="get">
        <label for="categorie">Categorie</label>
        <select typeof="text" id="Categorie" name="catlist" form="rechform">
            <option value="1">Informatique</option>
            <option value="1">Electronique</option>
            <option value="1">Mathematique</option>

        </select>
        <input type="submit" />
    </form>
</div>




    <table class="table">

        <tbody>
            @foreach (var item in Model.Livre)
            {
        <th>
            <img src="@Url.Content(item.image)" alt="Image" width="250" height="280" />
            <br />
            <br />

         

            <a  asp-page="Livres/Details" asp-route-id="@item.idLivre">
                @Html.DisplayFor(modelItem => item.auteur)
            </a>



        </th>


            }
        </tbody>
    </table>

